/*默认不显示*/
.on-show {
    display: none;
}
/*鼠标移上去显示*/
.list-group li:hover .on-show {
    display: block;
}

.size {
    font-size:20px;

}
.color {
    color:#F7996D;
}


input[type="checkbox"] {
    display:none;
}

/*鼠标移上去显示*/
table tr:hover .on-show {
    display: block;
}
